<section class="ticker-line">
   <div class="ticker-line__wrap">
      <p class="ticker-line__item">Дело помощи утопающим — дело рук самих утопающих!
         <span class="ticker-line__item-bullet">&#8226;</span>
      </p>
      
      <p class="ticker-line__item">Шахматы двигают вперёд не только культуру, но и экономику!
         <span class="ticker-line__item-bullet">&#10625;</span>
      </p>
     
      <p class="ticker-line__item">Лед тронулся, господа присяжные заседатели!
         <span class="ticker-line__item-bullet">&#10625;</span>
      </p>
      
      <p class="ticker-line__item">Дело помощи утопающим — дело рук самих утопающих!
         <span class="ticker-line__item-bullet">&#8226;</span>
      </p>

      <p class="ticker-line__item">Шахматы двигают вперёд не только культуру, но и экономику!
         <span class="ticker-line__item-bullet">&#10625;</span>
      </p>

      <p class="ticker-line__item">Лед тронулся, господа присяжные заседатели!
         <span class="ticker-line__item-bullet">&#10625;</span>
      </p>

   </div>
</section>